{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
    <link rel="stylesheet" href="static/css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <a href="#" class="brand">Islom</a>
        <div class="menu-btn"></div>
        <div class="navigation">
            <a href="#">home</a> 
            <a href="#">about</a>
            <a href="#">skills&certificates</a>
            <a href="#">projects</a>
            <a href="#">contact</a>

        </div>
    </header>
    
    <section class="main" id="main">
        <div class="content">
            <h2>Hello, I'm <br> <span>Islom Pulatov</span> </h2>
            <div class="animated-text">
                <h3>Data Scientist</h3>
                <h3>Django Developer</h3>
            </div>
            <a href="#" class="btn">See My Works</a>
            <div class="media-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>

    </section>

    <section class="about" id="about">
        <div class="title reveal">
            <div class="section-title">About Me</div>
        </div>
        <div class="content">
            <div class="column col-left reveal">
                <div class="img-card">
                    <img src="../static/images/best.jpg" alt="">
                </div>
            </div>
            <div class="column col-right reveal">
                <h2 class="content-title">Hey there! I'm Islom Pulatov</h2>
                <p class="paragraph-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut iusto doloribus perferendis voluptates ad eligendi in ab? Repudiandae beatae et minus maiores vero quae, praesentium ipsam ea quis, in necessitatibus, sequi quia! Architecto dolorem ducimus earum. Doloremque nobis dignissimos dolorem sed tenetur! Laboriosam iure earum, architecto, sit qui voluptatum, nostrum molestiae aliquid saepe esse optio dolorem rem voluptas. Perferendis, quae.</p> <br>
                <p class="paragraph-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. At iste dolor totam laborum, ab repudiandae a optio voluptatum nostrum odit sunt! Assumenda fugit provident neque nihil ab minima sed pariatur?</p>
                <a href="#" class="btn">See More</a>
            </div>

        </div>
    </section>

    <section class="skills" id="skills">
        <div class="title reveal">
            <div class="section-title">My Skills</div>
        </div>
        <div class="content">
            <div class="column col-left reveal">
                <h2 class="content-title">My Skills and Experiences</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos quasi doloremque nam ad dicta aspernatur? Quasi sit, aut error repellendus culpa officiis dicta unde quas consequuntur dolorem fuga dignissimos suscipit?</p>
                <a href="#" class="btn">See More</a>
            </div>
            <div class="column col-right reveal">
                
            </div>
        </div>
    
    </section>    
    <section class="projects">
        <div class="title reveal">
            <div class="section-title">Projects</div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate magnam suscipit animi modi? Labore iste, facere ducimus maiores molestiae accusamus vel quibusdam aut, omnis sequi placeat a, quod quis ex!</p>
        </div>
    </section>

    <section class="contact" id="contact">
        <div class="title reveal">
            <div class="section-title">Contact Me</div>
        </div>
        <div class="content">
            <div class="row">
                <div class="card reveal">
                    <div class="contact-icon">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="info">
                        <h3>Address</h3>
                        <span>Warsaw, Poland Grupy AK polnoc 4</span>
                    </div>
                </div>
                <div class="card reveal">
                    <div class="contact-icon">
                        <i class="fas fa-phone"></i>
                    </div>
                    <div class="info">
                        <h3>Phone</h3>
                        <span>+48793415997</span>
                    </div>
                </div>
                <div class="card reveal">
                    <div class="contact-icon">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="info">
                        <h3>Email</h3>
                        <span>islompulatov115@gmail.com</span>
                    </div>
                </div>
                <div class="card reveal">
                    <div class="contact-icon">
                        <i class="fas fa-globe"></i>
                    </div>
                    <div class="info">
                        <h3>Website</h3>
                        <span>MyPortfolio.org</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="contact-form reveal">
                    <h3>Send Message</h3>
                    <div class="input-box">
                        <input type="text" placeholder="Name">
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="Email">
                    </div>
                    <div class="input-box">
                        <textarea rows="8" cols="80" placeholder="Message"></textarea>
                    </div>
                    <div class="input-box">
                        <input type="submit" class="send-btn" value="Send">
                    </div>

                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <span class="footer-title">Islom Pulatov</span>
        <p>Copyright @2022. All Rights Reserved.</p>
    </footer>

    <script src="script.js"></script>
</body>

</html> 